<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Recommended Books</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'BookShare/books.css' %}" />
    </head>

    <body>
    <p id="mytitle">Recommended books</p>
    {% for book in books %}
        <div class="book">
            <p class="title">Book and score:</p>
            <p class="bookTitle">{{ book }}</p>
        </div>
    {% endfor %}
    </body>
  </html>
