<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'BookShare/user_profile.css' %}" />
</head>
<body>
    <p id="title">Your Profile</p>
    <div id="info">
        <p>Name: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Keyword: {{ user.keywords }}</p>
        <p>Subject: {{ user.subjects }}</p>
        <p>Industry: {{ user.industry }}</p>
        <p>Major: {{ user.major }}</p>
    </div>
    <div>
        <button id="mybutton"><a href = "/display_book/">See recommended books</a></button>
    </div>
</body>
</html>
