<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Recommended Books</title>
        <link type="text/css" rel="stylesheet" href="books.css">
    </head>

    <body>
    {% for book in books %}
        <div class="book">
            <p class="bookTitle">{% book.title %}</p>
            <p class="bookAuthor">{% book.author %}</p>
            <p class="bookSubject">{% book.subject %}</p>
            <p class="bookReviewer">{% book.reviewer %}</p>
        </div>
    {% endfor %}
    <form>
        <input type="button"><a href = "/review/">Write review for books</a>
    </form>
    </body>
  </html>